# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage

# production
**/build
**/dist

# misc
.DS_Store
.env*
.idea/
.vscode/
*.log
*.tsbuildinfo

# npm debug log
npm-debug.log*

# yarn error log
yarn-error.log*

# svelte
**/.svelte-kit

# next.js
**/.next

# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment variables
/client/.env
/server/.env

# Production
/client/dist